
body {
  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 300;
  line-height: 1.8;
  text-decoration : none;
  margin: 8%;
}

.title p{
  font-family: Futura;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  margin-top: 8%;
  margin-bottom: 20px;
  text-decoration: none;
  /* line-height: 0.8; */

}


.intro p{
  font-family: Gill Sans;
  font-size: 30px;
  color: #5B5B5B;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px;

}

.bar ul li{
  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 200;
  line-height: 1.8;
  list-style-type: none;
  display: inline;
  margin-left: -37px;
  margin-right: 70px;
  padding-left: 0; 
  list-style-position: inside;

}

.bar a:link{
  color: lightseagreen;
  text-decoration: none;
  font-weight: 400;
}

.bar a:visited{
  color: lightseagreen;
  text-decoration: lightseagreen;
  font-weight: 400;
}


.portfolio-wrapper1 img {
  margin: 10px;
  width: 30%;
  display: inline;
}
.portfolio-wrapper2 img {
  margin:  10px;
  width: 60%;

  display:inline;

}
/* .portfolio-wrapper1: hover{
  cursor: help;
  } */

.contact p {
  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 300;
  line-height: 1.8;

} 

.contact a:hover {
    color: seagreen;
}
/* unvisited link */
.contact a:link {
  text-decoration: none;
  color: lightseagreen;
}

/* visited link */
.contact a:visited {
  color: lightseagreen;
}


/* selected link */
.contact a:active {
    color: blue;
}


@media screen and (max-width: 768px) {
  .portfolio-wrapper1 img, .portfolio-wrapper2 img {
    width: 80% !important;
  }