
body {
  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 300;
  line-height: 1.8;
  text-decoration : none;
  margin: 8%;
}

.title p{
  font-family: Futura;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  margin-top: 8%;
  margin-bottom: 20px;
  text-decoration: none;
  /* line-height: 0.8; */

}

.title a:link, .title a:visited{
  color: #000;
  text-decoration: none;
}



.intro p{
  font-family: Gill Sans;
  font-size: 30px;
  color: #5B5B5B;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px;

}

.box {
  border-style: solid;
  border-color: lightseagreen;
  border-radius: 10px;
/*   height: 400px; */
  padding-top:1.5em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}
.text {

  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 200; 

}
.talker{

  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 400; 

}

.portfolio-wrapper1 img {
  margin: 10px;
  width: 30%;
  display: inline;
}
.portfolio-wrapper2 img {
  margin:  10px;
  width: 60%;

  display:inline;

}


.contact p {
  font-family: sans-serif;
  font-size: 20px;
  color: #5B5B5B;
  font-weight: 300;
  line-height: 1.8;

} 

.contact a:hover {
    color: seagreen;
}
/* unvisited link */
.contact a:link {
  text-decoration: none;
  color: lightseagreen;
}

/* visited link */
.contact a:visited {
  color: lightseagreen;
}


/* selected link */
.contact a:active {
    color: blue;
}


@media screen and (max-width: 768px) {
  .portfolio-wrapper1 img, .portfolio-wrapper2 img {
    width: 80% !important;
  }
ing: border-box;
  -o-box-sizing: border-box;
  width: 30%;
  display: inline-block;
  float: none;
  overflow: hidden;
  object-fit:fill !important;
  flex-wrap: wrap !important;
  margin: 10px;

}
#pic2, #pic4 {
  width: 60% !important;
}

@media screen and (max-width: 992px) {
  #portfoliolist .portfolio {
    width: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  #portfoliolist .portfolio {
    width: 50% !important;
  }
}
@media screen and (max-width: 480px) {
  #portfoliolist .portfolio {
    width: 100% !important;
  }
} */
