<!DOCTYPE html>
	{% load  staticfiles %}
	<head>
	<meta charset="utf-8">

	<title>Chat Room</title>

	<meta name="author" content="Yi Chin Huang" />



	<link rel="stylesheet" href="{% static 'css/style_board.css' %}">

	<!-- fontawesome icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	</head>
	<body>

	
	<div class="page">
	
		<header>
			<div class ="title">
				<p><a href ="{% url 'home' %}">Yi Chin's Portfolio</a></p>
			</div>
		</header>

		<div class="intro">
			<p>Hello, {{request.user}}.&nbsp Leave some messages below.</p>
		</div>


		
			<div class ="box">
			{% for msg in msgs %}
                <div class='message'>

                    <span class="talker">{{msg.talker}}: </span>
                    <span class="text">{{msg.message}}</span>

                    <span class="time">                     	
                    	<span>
                    		{{msg.time}}
						</span>						
                    </span>

                    {% if request.user.username == msg.talker %} 

                    	<span>
		                	<form action="" method="post" class = "del_edit">
		                		<input type="hidden" name = "msgid" value="{{msg.id}}" />
		                   		<input class = "edit_del" type="submit" name = "delmsg" value="刪除"/> &nbsp
		                   	</form>
                   		</span> 

                   		<span>
				 			<form action="" method="post" class = "del_edit">
				 				<input type="hidden" name = "edit_msgid" value="{{msg.id}}">
								<input class = "edit_del" type="submit" name = "edit" value="編輯"> 
							</form>
						</span>

                   	{% endif %}
                 </div>  


            {% endfor %}
				</div>
			</div>

		<form class = "send_msg" action="" method="post">
		<tabel>
            <td>
            	<tr><label for="message">訊息：&nbsp &nbsp</label>                    
            	<input id="message" type="text" name="message"></tr>
            	<input class="leave" name = "sendmsg" type="submit" value="留言">
        	</td>
			<br>
        	<td>
            	<tr><label for="search">尋找：&nbsp &nbsp</label>                    
            	<input id="search" type="text" name="search_content"></tr>
            	<input class="leave" name = "searchmsg" type="submit" value="確認">
            	<input class="leave" name = "finish_search" type="submit" value="結束搜尋">
        	</td>
        </table>


        </form>

		<footer>
			<div id="footer">
						<div class="contact">
							<p>Contact me:</p>
								<i class="fab fa-facebook-square"></i> &nbsp <a href="https://www.facebook.com/yichin0226">黃意芹</a><br>
								<i class="fab fa-instagram"></i> &nbsp <a href="https://www.instagram.com/celery_26/">celery_26</a><br>
								<i class="far fa-envelope"></i> &nbsp <a href="b05705001@ntu.edu.tw">b05705001@ntu.edu.tw</a> 
						</div>


			</div>
		</footer>
			



	</div>


	</body>
</html>