<!DOCTYPE html>
	{% load  staticfiles %}
	<head>
	<meta charset="utf-8">

	<title>Message Board</title>

	<meta name="author" content="Yi Chin Huang" />



	<link rel="stylesheet" href="{% static 'css/style_board.css' %}">

	<!-- fontawesome icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	</head>
	<body>

	
	<div class="page">
	
		<header>
			<div class ="title">
				<p><a href ="{% url 'home' %}">Yi Chin's Message Board</a></p>
			</div>
		</header>

		<div class="intro">
			<p>Leave some messages below.</p>
		</div>
	
	
		<!-- <div class="portfolio-section"> -->
		
			<div class ="box">
			{% for msg in msgs %}
                <div class='message'>
                    <span class="talker">{{msg.talker}}:  </span>
                    <span class="text">{{msg.message}}</span>
                </div>
            {% endfor %}
				</div>
			</div>





		<footer>
			<div id="footer">
						<div class="contact">
							<p>Contact me:</p>
								<i class="fab fa-facebook-square"></i> &nbsp <a href="https://www.facebook.com/yichin0226">黃意芹</a><br>
								<i class="fab fa-instagram"></i> &nbsp <a href="https://www.instagram.com/celery_26/">celery_26</a><br>
								<i class="far fa-envelope"></i> &nbsp <a href="b05705001@ntu.edu.tw">b05705001@ntu.edu.tw</a> 
						</div>


			</div>
		</footer>
			



	</div>


	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js'%}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js'%}"></script>

	<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.all'  
      		}     
				});								
			
			}
		};
		
		// Run the show!
		filterList.init();
		
		
	});	
	</script>

	</body>
</html>