<!DOCTYPE html>
	{% load static %}
	<head>
	<meta charset="utf-8">

	<title>Comments</title>

	<meta name="author" content="Yi Chin Huang" />



	<link rel="stylesheet" href="{% static 'css/style_board.css' %}">

	<!-- fontawesome icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	</head>
	<body>

	
	<div class="page">
	
		<header>
			<div class ="title">
				<p><a href ="{% url 'home' %}">Yi Chin's Portfolio</a></p>
			</div>
		</header>

		<div class="intro">
			{% if request.GET %}
				<p>Make comments on &nbsp "{{work.name}}"</p>
				<span class = {{work.classname}}>
					<img src= "../static/images/{{work.img}} " alt="">
				</span>
			{% else %}
				<p>Comments on my works.</p>
			{% endif %}
		</div>
	
	
		<!-- <div class="portfolio-section"> -->
		
			<div class ="box">
			{% for c in cmts %}
                <div class='message'>
                    <span class="talker">{{c.author}}</span>
                    <span class="text">'s comment to </span>
                    <span class="talker">{{c.work.name}}: </span>
                    <span class="text"> {{c.comment}}</span>
                </div>
            {% endfor %}
				</div>
			</div>

		<form class = "send_msg" action="" method="post">
		<tabel>
			<td>
				{% if not request.GET %}
					<span>評論作品：</span>
					<span><select name="choose_work">
					
					{% for w in works %}
						<option value={{w.id}} name = "work">{{w.name}}</option>

					{% endfor %}
					</select></span><br>
				{% endif %}
				
            </td>
			<!-- <td>
            	<tr><label for="author">留言者：</label>
            	<input id="talker" type="text" name="author"><br></tr>
            </td> -->

            <td>
            	<tr><label for="comment">評論：&nbsp &nbsp</label>                    
            	<input id = "message" type="text" name="comment"> </input></tr>
            <input class="leave" type="submit" value="留言">
        	</td>
        </table>
        </form>



		<footer>
			<div id="footer">
						<div class="contact">
							<p>Contact me:</p>
								<i class="fab fa-facebook-square"></i> &nbsp <a href="https://www.facebook.com/yichin0226">黃意芹</a><br>
								<i class="fab fa-instagram"></i> &nbsp <a href="https://www.instagram.com/celery_26/">celery_26</a><br>
								<i class="far fa-envelope"></i> &nbsp <a href="b05705001@ntu.edu.tw">b05705001@ntu.edu.tw</a> 
						</div>


			</div>
		</footer>
			



	</div>


	</body>
</html>