<!DOCTYPE html>

	{% load  static %}
	<head>
	<meta charset="utf-8">

	<title>Yi Chin's Portfolio</title>

	<meta name="author" content="Yi Chin Huang" />



	<link rel="stylesheet" href="{% static 'css/style2.css' %}">

	<!-- fontawesome icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">	</head>
	<body>

	
	<div class="page">
	
		<header>
			<div class ="title">
				<p>Yi Chin's Portfolio</p>
			</div>
		</header>

		<div class="intro">
			<p>My graphic and Web designs.</p>
		</div>

		<div class = "login">
			{% if request.user.is_authenticated %}
	            <p>{{request.user}} 您已經登入囉!</p>
	            <a href="/logout/">登出</a>
	        {% else %}
	            <p>您尚未登入！ &nbsp <a href="/login/">登入</a></p>
	        {% endif %}	
    	</div>
	
		
			<div class ="bar">
				<ul>
					<li><span>All</span></li>
					<li><span>IMcamp</span></li>
					<li><span>Website</span></li>
					<li><span>Logo</span></li>
					<li><span>Paintng</span></li>
					<li><span>Others</span></li>
					<li class = "msgb"><span><a href="{% url 'board' %}">Chat Room</a></span></li>
					<li class = "msgb"><span><a href="{% url 'comment' %}">Make Comments</a></span></li>
					<li class = "msgb"><span><a href="{% url 'welcome' %}">Login</a></span></li>
				</ul>
			</div>

<!-- IMcamp (app)-->

		<div>			
			{% for w in works%}	
				<span title={{w.name}} class={{w.classname}}>				
					<img src= "static/images/{{w.img}}" alt="" />
				</span>	

			{% endfor %}
		</div>



		<footer>
			<div id="footer">
						<div class="contact">
							<p>Contact me:</p>
								<i class="fab fa-facebook-square"></i> &nbsp <a href="https://www.facebook.com/yichin0226">黃意芹</a><br>
								<i class="fab fa-instagram"></i> &nbsp <a href="https://www.instagram.com/celery_26/">celery_26</a><br>
								<i class="far fa-envelope"></i> &nbsp <a href="b05705001@ntu.edu.tw">b05705001@ntu.edu.tw</a> 
						</div>


			</div>
		</footer>
			



	</div>


	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js'%}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js'%}"></script>

	<script type="text/javascript">
	$(function () {
		
		var filterList = {
		
			init: function () {
			
				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'	
    		  },
    		  load: {
      		  filter: '.all'  
      		}     
				});								
			
			}
		};
		
		// Run the show!
		filterList.init();
		
		
	});	
	</script>

	</body>
</html>