<html>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <head>
        <title> Login </title>
        <meta charset='utf-8'>
        <div class ="title">
            <p><a href ="{% url 'home' %}">Yi Chin's Portfolio</a></p>
        </div>
    </head>

    <body>
        <form action="" method="post">
            <!-- {% csrf_token %} -->
            <label for="username">用戶名稱:</label>
            <input type="text" name="username" value="" id="username"><br>
            <label for="password">用戶密碼:</label>
            <input type="password" name="password" value="" id="password"><br>
            <input type="submit" value="登入" />
            <a href="/signup/">註冊</button>

        </form>
    </body>
</html>
