<html>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <head>
        <title> Welcome to Yi Chin's Portfolio</title>
        <meta charset='utf-8'>
        <div class ="title">
            <p><a href ="{% url 'home' %}">Yi Chin's Portfolio</a></p>
        </div>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <p>{{request.user}} 您已經登入囉!</p>
            <a href="/../">首頁</a>
            <a href="/logout/">登出</a>
        {% else %}
            <p>您尚未登入! &nbsp <a href="/login/">登入</a></p>
        {% endif %}
    </body>
</html>
